:root {
    --accent-green: #11ee77;
    --clear-green: #aaffcc;
    --dark-green: #00d060;
    --accent-blue: #0055ff;
    --clear-blue: #99bbff;
    --dark-blue: #0041C2;
    --darkest-basic: #011e41;
    --dark-basic: #21364e;
    --mid-basic: #536375;
    --light-basic: #ced3dc;
    --clear-basic: #ededed;
    --clearest-basic: #fafafa;
}


/* global styles */
h1 {
    font-family: 'Philosopher', serif;
    font-size: clamp(2rem, 8vw + 1rem, 3rem);
    text-transform: uppercase;
    color: var(--accent-blue);
    position: absolute;
    bottom: 0;
}
section:not(#contact, .hobby) h2 {
    color: var(--accent-blue);
    font-size: clamp(1rem, 6vw + 1rem, 2.5rem);
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
}


section:not(#contact) h3 {
    color: var(--clear-blue);
    font-size: 1.6rem;
    font-size: clamp(1rem, 4vw + 1rem, 2rem);
    font-family: 'Philosopher', serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2rem;
}

section:not(#contact, .hobby) p{
    margin-top: 16px;
    color: var(--mid-basic);
}

.hero a, 
.hobby a, 
.storia a{
    color: var(--accent-green);
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}
.hero a::before, 
.hobby a::before, 
.storia a::before{
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    border-radius: 5px;
    background-color: var(--accent-green);
    transition: .3s;
    width: 0;
    height: 10%;
}
.hero a:hover::before, 
.hobby a:hover::before, 
.storia a:hover::before {
    width: 100%;
}

body {
    background: var(--clearest-basic);
}

.main-container {
    height: 100vh;
    width: 100%;
}




/*  hero section */
.hero {
    background: var(--clearest-basic);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 10vw;
}

.hero .text {
    width: 70vw;
    max-width: 800px;
}

.hero .title {
    position: relative;
    min-height: 30px;
    margin-top: 80px;
}

.title span {
    font-size: clamp(2rem, 10vw + 1rem, 4rem);
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    bottom: -14px;
    color: var(--clear-basic);
}

.img-container{
    position: relative;
    height: 100%;
    margin-left: 10px;
    transition: .3s;
}

.hero .sardinia {
    position: relative;
    height: 100%;
    transition: .5s;
}
.hero .sardinia.fill{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(55%, -48%);
}

#sardinia-outline path{
    fill: none;
    stroke: var(--accent-green);
    stroke-width: 3px;
}

@media (max-width:800px) {
    .hero {
        height: min-content;
        width: 100%;
    }
    .hero .text {
        width: 100%;
        z-index: 1;
    }
    .img-container {
        position: absolute;
        top: 50%; right: 50%;
        transform: translate(50%, -50%);
    }   
    .hero .sardinia.fill {
        opacity: .1;
        top: 50%; right: 50%;
        transform: translate(50%, -40%) scale(.9);
        max-height: 70%;
    }      
    .hero .sardinia.outline {
        opacity: 0;
    }   
}




/* hobby section */
.hobby {
    padding: 100px 10vw;
    background: var(--dark-basic);
    position: relative;
}
.hobby h2{
    color: var(--clear-blue);
    font-size: clamp(1rem, 6vw + 1rem, 2.5rem);
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
}
.hobby p {
    color: var(--clearest-basic);
    font-weight: 300;
    margin-top: 16px;
}





/* storia section */
.storia {
    padding: 100px 10vw;
    background: var(--clearest-basic);
}

@media (min-width:800px) {
    .storia .background {
        display: flex;
    }
    .img-tech {
        width: 40vw;
        max-width: 800px;
        margin-top: 28px;
        order: -1;
    }
    .img-travel {
        float: right;
        width: 40vw;
        max-width: 800px;
    }
    .img-studies{
        float: left;
        width: 30vw;
        margin-top: 24px;
    }
    .img-designer{
        float: right;
        width: 30vw;
        max-width: 450px;
    }
}
img {
    width: 100%;
    padding: 16px;
    margin-top: 24px;
}




/* section for make navbar appear again on scroll */
.dummy-section {
    height: 100px;
}
