:root {
    --accent-green: #11ee77;
    --clear-green: #aaffcc;
    --dark-green: #00d060;
    --accent-blue: #0055ff;
    --clear-blue: #99bbff;
    --dark-blue: #0041C2;
    --darkest-basic: #011e41;
    --dark-basic: #21364e;
    --light-basic: #ced3dc;
    --clear-basic: #ededed;
    --clearest-basic: #fafafa;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    height: 100vh;
}

.main-container {
    height: 100vh;
    width: 100%;
}

.main-container .page {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
}


/* hero section start */
.page.first {  
    color: var(--darkest-basic);
    padding: 0 10%;
    overflow: hidden;
    background-color: var(--clearest-basic);
}

.page.first .text {
    display: flex;
    justify-content: start;
    flex-direction: column;
    min-width: 100%;
    height: 100%;
    padding: 140px 0 40%;
}

.page.first h1{
    font-size: 2.5rem;
    font-weight: 300;
    position: relative;
}
.page.first h1 em {
    font-size: 2.5rem;
    font-style: normal;
}

.page.first h1 strong {
    font-size: 2.5rem;
    font-weight: 600;
}
.page.first h2{
    width: 40vw;
    min-width: 350px;
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    margin-top: 3%;
}
.page.first h2 em {
    font-size: 1.3rem;
    font-style: normal;
    font-family: 'Philosopher', sans-serif;
    white-space: nowrap;
}
.page.first h2 em::before {
    content: ' ';
    height: .8em;
    width: 190px;
    background-color: var(--accent-green);
    display: inline-block;
    position: absolute;
    transform: translate(5px, 14px);
    mix-blend-mode: darken;
}

.cta-1{
    padding: 15px 40px;
    width: fit-content;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    background: var(--accent-blue);
    color: var(--clearest-basic);
    font-family: 'Philosopher', sans-serif;
    font-size: 1.2rem;
    position: relative;
}
.cta-1:hover {
    background: var(--dark-blue);
}

@media (max-width:500px), (max-height:600px){
    .page.first h1{
        font-size: 2.2rem;
    }
    .page.first h1 em {
        font-size: 2.2rem;
    }
    .page.first h1 strong{
        font-size: 2.2rem;
    }
    .page.first h2 {
        font-size: 1rem;
        margin-top: 5%;
        text-shadow: 2px 2px 10px var(--clear-basic);
    }
    .page.first h2 em {
        font-size: 1rem;
    }
    .page.first h2 em::before {
        width: 145px;
        transform: translateY(13px)
    }
    .cta-1 {
        padding: 12px 30px;
        font-size: 1rem;
        margin-top: 7%;
    }
}
@media (max-width:500px) {
    .page.first h2 {
        width: 70vw;
        min-width: 0;
    }
}


/*  first page (hero section) decoration */

.hero-decoration .bubble {
    position: absolute;
    border-radius: 50%;
}
.hero-decoration .bubble.green {
    height: 50vh;    max-height: 600px;
    width: 35vw;     max-width: 500px;
    background: var(--accent-green);
    top: 0;
    left: 0;
    filter: blur(200px);
}
.hero-decoration .bubble.blue {
    height: 70vh;    max-height: 800px;
    width: 50vw;     max-width: 1000px;
    background: var(--accent-blue);
    bottom: -10vh;
    right: -5vw;
    filter: blur(220px);
}

.hero-decoration .curvedline svg{
    position: absolute;
    top: 0; margin-top: 130px;
    right: -10px;
    transition: all .5s;
    max-width: 50vw;
}
@media (max-width:800px) {
    .hero-decoration .curvedline svg{
        right: -30px;
        transform: scale(0.9);
    }
}
@media (max-width:720px) {
    .hero-decoration .bubble.green {
        filter: blur(120px);
    }
    .hero-decoration .bubble.blue {
        filter: blur(140px);
        transform: translate(5vw, 5vh);
    }
    .hero-decoration .curvedline svg {
        right: -50px;
        transform: scale(0.8);
    }
    .hero-decoration .curvedline svg path:nth-child(4), path:nth-child(5){
        display: none;
    }
}

.hero-decoration .square {
    min-width: 250px;    width: 100%;    max-width: 20vw;
    min-height: 70px;     height: 8vh;
    background: var(--clear-green);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    gap: 5.5%;
}

.hero-decoration .square .line {
    position: relative;
    display: block;
    background-color: var(--accent-green);
    border-radius: 50px;
    width: 3px;
    height: 100%;
    transform: rotate(30deg) translateY(-20px);
}
@media (max-height:660px) {
    .hero-decoration .square{
        display: none;
    }
}
.hero-decoration .portrait {
    position: absolute;
    width: 90vw;
    height: 100vh;
    z-index: 1;
}
.hero-decoration .photo-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 90vh;
    transition: all .5s;
}
.hero-decoration .photo {
    height: 100%; 
    transform: translate(-70px, 5vh);
    transition: all .5s;
}
.hero-decoration .silohuette {
    position: absolute;
    height: 100%; 
    transform: translate(-170px, 7vh);
    transition: all .5s;
    mix-blend-mode: darken;
}
.hero-decoration .silohuette path {
    stroke: var(--accent-blue);
    stroke-width: 6px;
    opacity: .8;
}

@media (max-width:800px){
    .hero-decoration .photo-container {
        height: 75vh; 
    }
    .hero-decoration .photo {
        transform: translate(0px, 5vh);
    }
    .hero-decoration .silohuette {
        transform: translate(-150px, 7vh);
    }
}
@media (max-width:720px) {
    .hero-decoration .photo-container {
        height: 60vh; 
    }
    .hero-decoration .photo {
        transform: translate(-20px, 5vh);
    }
    .hero-decoration .silohuette{
        transform: translate(-230px, 7vh);
    }
}


/* additional graphic element hero section */
.page.first .graphic-elements {
    position: absolute;
    width: 100vw; height: 100vh;
    transform: translateX(-10%);
    z-index: 0;
    display: flex;
}

.graphic-elements .circle {
    width: 40px; height: 40px;
}
.graphic-elements .star {
    width: 70px; height: 70px;
}
.graphic-elements .triangle {
    width: 46px; height: 46px;
}
.graphic-elements .cross {
    width: 40px; height: 40px;
}

.page.first .graphic-elements .element {
    position: relative;
    width: min-content;
    height: min-content;
    animation: rotate 15s linear infinite;
    margin: auto;   
    transition: all .5s;
}


.page.first .element:nth-of-type(1){
    top: -20%;
}
 .page.first .element:nth-of-type(2){
    top: 30%;
    left: -5%;
}
.page.first .element:nth-of-type(3){
    top: 40%;
    left: 3%;
} 
.page.first .element:nth-of-type(4){
    top: -34%;
    animation-delay: -0.9s;
}
.page.first .element:nth-of-type(5){
    top: 15%;
}
.page.first .element:nth-of-type(6){
    top: -30%;
}
.page.first .element:nth-of-type(7){
    animation-delay: .3s;
}
.page.first .element:nth-of-type(8){
    top: -15%;
    animation-delay: -0.5s;
}
.page.first .element:nth-of-type(9){
    top: 25%;
}
.page.first .element:nth-of-type(10){
    top: -5%;
}
@media (max-width:1024px){
    .page.first .element:nth-of-type(4), 
    .page.first .element:nth-of-type(7), 
    .page.first .element:nth-of-type(10){
        display: none;
    }
}
@media (max-width:800px){
    .page.first .element:nth-of-type(2),
    .page.first .element:nth-of-type(8){
        display: none;
    }
    .page.first .element:nth-of-type(1){
        left: -5%;
    }
    .page.first .element:nth-of-type(3){
        top: 35%;
        left: -10%;
    }
    .page.first .element:nth-of-type(5){
        top: 25%;
    }
    .page.first .element:nth-of-type(6){
        left: -15%;
        top: -35%;
    }
    .page.first .element:nth-of-type(9){
        top: -20%;
    }
}










/* second section start */
.page.second {
    background: var(--darkest-basic);
    padding: 0 10%;
    color: var(--clear-basic);
    overflow: hidden;
    z-index: 10;
}

.cta-2 {
    border: none;
    padding: 5px 40px 10px 0;
    width: fit-content;
    margin-top: 3%;
    background: transparent;
    color: var(--clearest-basic);
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5rem;
    position: relative;
    transition: all .5s;
}
.cta-2::after {
    content: '→';
    position: relative;
    padding-left: 10px;
    font-size: 1.8rem;
}
.cta-2:hover {
    color: var(--light-basic);
}
.cta-2:hover::after {
    animation: cta-2-arrow-move .5s forwards;
}
@keyframes cta-2-arrow-move {
    from {
        left: 0;
    }
    to {
        left: 20px;
    }
}

.page.second .text {
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 90%;
    margin: auto;
    height: 80%;
    padding: 100px 0 40%;
    z-index: 15;
}

.page.second h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2rem;
    position: relative;
}

.page.second .paragraph {
    position: relative;
    left: -20%;
    
}
.page.second p {
    margin-top: 3%;
    position: relative;
    left: 20%;
    max-width: 50%; 
    min-height: 270px; max-height: 60vh; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    font-size: 1.2rem;
    /* border: 2px solid gold;  */
}

.page.second .paragraph .decoration.square {
    background: var(--accent-blue);
    mix-blend-mode: lighten;
    position: absolute;
    height: 92%; max-height: 60vh;
    width: 71%;
    margin-top: 4%;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 6%;
}
.page.second .paragraph .line {
    position: relative;
    display: block;
    background-color: var(--clear-blue);
    border-radius: 50px;
    width: 10vw;
    height: 3px;
    transform: rotate(-30deg);
    left: -1.5%;
}

/* second section decoration */
.page.second .sardinia {
    position: absolute;
    top: 50%; right: 25%;
    transform: translate(50%, -50%) scale(.9);
    height: 100%;
    transition: all .5s;
}
.page.second .sardinia.fill{
    transform: translate(55%, -48%) scale(.9);
}

#sardinia-outline path{
    fill: none;
    stroke: var(--accent-green);
    stroke-width: 3px;
}


/* second section responsiveness */
@media (max-width:800px) {
    .page.second {
        min-width: none;
    }
    .page.second .text {
        z-index: 10;
        position: relative;
    }
    .page.second .paragraph {
        width: 85vw;
    }
    .page.second p {
        max-width: 80%;
        left: 14vw;
        min-height: 350px;
    }
    .page.second .paragraph .decoration.square {
        width: 100%;
        height: 98%;
        z-index: 0;
        filter: drop-shadow(2px 2px 10px var(--darkest-basic));
    }

    .page.second .sardinia {
        transform: translate(40%, -10%) scale(.7);
    }
    .page.second .sardinia.fill {
        transform: translate(45%, -8%) scale(.7);
    }
    .page.second .cta-2 {
        /* background: rgba(1, 30, 65, .5); */
        text-shadow: 2px 2px 10px var(--darkest-basic);
        border-radius: 5px;
    }
}

/* additional graphic element second section */
.page.second .graphic-elements {
    position: absolute;
    top: 0;
    width: 100vw; height: 100vh;
    transform: translateX(-10%);
    display: flex;
}

.page.second .graphic-elements .element {
    position: relative;
    width: min-content;
    height: min-content;
    animation: rotate 15s linear infinite;
    margin: auto;   
    transition: all .5s;
}


.page.second .element:nth-of-type(1){
    top: 30%;
}
 .page.second .element:nth-of-type(2){
    top: 45%;
    left: 5%;
    animation-delay: -3s;
}
.page.second .element:nth-of-type(3){
    top: -37%;
    left: -20%;
} 
.page.second .element:nth-of-type(4){
    top: -30%;
}
.page.second .element:nth-of-type(5){
    top: 25%;
}
.page.second .element:nth-of-type(6){
    top: 40%;
    left: 8%;
}
.page.second .element:nth-of-type(7){
    top: -38%;
}
.page.second .element:nth-of-type(8){
    top: 30%;
    left: 10%;
}
.page.second .element:nth-of-type(9){
    top: -10%;
    left: 5%;
}

@media (max-width:1024px){
    .page.second .element:nth-of-type(2), 
    .page.second .element:nth-of-type(4), 
    .page.second .element:nth-of-type(9){
        display: none;
    }
}
@media (max-width:800px){
    .page.second .element:nth-of-type(5),
    .page.second .element:nth-of-type(8){
        display: none;
    }
    .page.second .element:nth-of-type(1){
        top: 40%;
    }
    .page.second .element:nth-of-type(3){
        left: -30%;
    }
    .page.second .element:nth-of-type(6){
        left: -20%;
        top: 25%;
    }
}





















/* third section start */
.page.third {    
    color: var(--darkest-basic);
    padding: 0 10%;
    overflow: hidden;
    background-color: var(--clearest-basic);
}

.page.third .text {
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 90%;
    margin: auto;    
    height: 60%;
    padding: 100px 0 40%;
    transform: translateX(50%);
    /* border: 3px solid blueviolet; */
    z-index: 20;
    transition: all .5s;
}
.page.third h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2rem;
    position: relative;
}
.page.third .paragraph {
    position: relative;
}
.page.third p {
    margin-top: 3%;
    position: relative;
    max-width: 50%; 
    min-height: 200px;
    font-size: 1.2rem;
}
.page.third .paragraph .decoration.square {
    background: var(--accent-green);
    mix-blend-mode: darken;
    position: absolute;
    height: 92%;
    width: 71%;
    margin-top: 4%;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    gap: 9%;
}
.page.third .paragraph .line {
    position: relative;
    display: block;
    background-color: var(--clear-green);
    border-radius: 50px;
    width: 10vw;
    height: 3px;
    transform: rotate(30deg);
    mix-blend-mode: luminosity;
}

.page.third .cta-2 {
    color: var(--darkest-basic);
}

.page.third img{
    position: absolute;
    bottom: 0; left: 50%;
    transform: translate(-95%, -5%);
    width: 50%;
    min-width: 400px;
    max-width: 900px;
    transition: transform .5s;
    z-index: 15;
}

.page.third .decoration .bubble {
    position: absolute;
    border-radius: 50%;
}
.page.third .decoration .bubble.green {
    height: 60vh;    max-height: 800px;
    width: 45vw;     max-width: 1000px;
    background: var(--accent-green);
    top: -10vh;
    right: -5vw;
    filter: blur(350px);
}
.page.third .decoration .bubble.blue {
    height: 55vh;    max-height: 600px;
    width: 55vw;     max-width: 500px;
    background: var(--accent-blue);
    bottom: -10vh;
    left: -5vw;
    filter: blur(250px);
}

/* third section responsivness */
@media (max-width:800px){
    .page.third .cta-2 {
        /* background: rgba(250, 250, 250, 0.7); */
        text-shadow: 2px 2px 10px var(--clearest-basic);
        border-radius: 5px;
    }
    .page.third .text {
        transform: translateX(0%);
    }
    .page.third .paragraph .decoration.square {
        width: 121%;
        filter: drop-shadow(2px 2px 10px var(--clearest-basic));
    }
    .page.third p {
        max-width: 100%;
    }

    .page.third img{
        bottom: 0; left: 50%;
        transform: translate(-45%, -10%);
    }
}


.page.third .graphic-elements {
    position: absolute;
    top: 0;
    width: 100vw; height: 100vh;
    transform: translateX(-10%);
    display: flex;
}

.page.third .graphic-elements .element {
    position: relative;
    /* border: 2px dotted salmon; */
    width: min-content;
    height: min-content;
    animation: rotate 15s linear infinite;
    margin: auto;   
    transition: all .5s;
}

.page.third .element:nth-of-type(1){
    top: -35%;
}
 .page.third .element:nth-of-type(2){
    top: -25%;
    left: 5%;
    animation-delay: -2s;
}
.page.third .element:nth-of-type(3){
    top: 45%;
    left: -25%;
} 
.page.third .element:nth-of-type(4){
    top: 10%;
    left: 5%;
}
.page.third .element:nth-of-type(5){
    top: 40%;
    left: 5%;
}
.page.third .element:nth-of-type(6){
    top: 20%;
    left: 8%;
}
.page.third .element:nth-of-type(7){
    top: -40%;
    animation-delay: -7s;
}

@media (max-width:800px){
    .page.third .element:nth-of-type(4){
        display: none;
    }
    .page.third .element:nth-of-type(2){
        top: 10%;
    }
    .page.third .element:nth-of-type(5){
        top: 20%;
        left: 25%;
    }
    .page.third .element:nth-of-type(6){
        top: -5%;
    }
}
