:root {
    --accent-green: #11ee77;
    --clear-green: #aaffcc;
    --dark-green: #00d060;
    --accent-blue: #0055ff;
    --clear-blue: #99bbff;
    --dark-blue: #0041C2;
    --darkest-basic: #011e41;
    --dark-basic: #21364e;
    --mid-basic: #536375;
    --light-basic: #ced3dc;
    --clear-basic: #ededed;
    --clearest-basic: #fafafa;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
} 

html {
    scroll-behavior: smooth;
}

section, article, aside, footer, header, nav {  
	display: block;
}

/* Navbar start*/
header {
    height:  120px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: var(--darkest-basic);
    background: rgba(250, 250, 250, 0.1);
    border-bottom: 2px solid #D9D9D9;
    z-index: 100;
    transition: .5s;
}
header::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 90;
}
header > * {
    z-index: 95;
}

header.sticky {
    height: 80px;
    background: rgba(250, 250, 250, .5);
}

header.hidden {
    transform: translateY(-150%);
}


header a{
    color: var(--darkest-basic);
    text-decoration: none;
}

header .main-logo a{
    font-size: 2.5em;
    font-weight: 700;
}

header .main-logo span {
    font-size: 2rem;
    font-weight: 700;
}
header.sticky .main-logo span {
    animation: main-logo-animation 1s forwards;
    animation-iteration-count: 1;
}

@media (max-width:1024px){
    header .main-logo span {
        animation: main-logo-animation 1s forwards;
        animation-iteration-count: 1;
    }
}

@keyframes main-logo-animation {
    0% {
        display: block;
        opacity: 100%;
    }
    80% {
        opacity: 0%;
    }
    100% {
        opacity: 0;
        position: absolute;
        transform: translateY(-200%);
    }
}


/* navbar links to other pages */
header .navbar {
    font-weight: 500;
}

.navbar li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin-left: 2rem;
}

@media (min-width:800px) {
    .navbar a::before{
        content: '';
        position: absolute;
        width: 20%;
        height: 10%;
        bottom: 0; left: 0;
        border-radius: 5px;
        background-color: var(--clear-green);
        mix-blend-mode: darken;
        transition: .3s;
        transform: translate(-10%, -5%);
    }
    .navbar a.active:before{
        background-color: var(--accent-green);
        width: 50%;
        transform: translate(-5%, -5%);
    }
    .navbar a:hover::before{
        width: 110%;
        height: 110%;
        border-radius: 0;
        background-color: var(--accent-green);
        transform: translate(-5%, 10%);
    }
    .navbar a:focus::before{
        background-color: var(--dark-green);
    }
    
}

.hamburger{
    display: none;
}

/* header responsiveness */
@media (max-width:800px) {    
        /* navbar links to other pages */
        header .navbar {
            position: absolute;
            top: 100%; right: 0; left: 0;
            background: rgba(250, 250, 250, .35);
            border-bottom: 3px solid #D9D9D9;
            color: #fafafa;
            padding: 10px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-300%);
            transition: all .4s ease;
            z-index: 85;
        }
        header .navbar::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            z-index: 75;
        }
        header .navbar > * {
            z-index: 80;
        }
        

        .navbar li {
            display: flex;
            align-items: center;
            padding: 15px;
            margin: auto;
            z-index: 85;
        }
        
        .navbar.active{
            transform: translateY(0%);
        }
        /* end navbar */


        /* hamburger with final status */
        header .hamburger {
            width: 45px;
            cursor: pointer;
            position: relative;
            display: block;
        }
        .hamburger span {
            width: 100%;
            height: 5px;
            display: block;
            background-color: var(--darkest-basic);
            transition: all .2s;
            margin: 10px 0;
            border-radius: 20px;
        }

        .hamburger .third {
            display: inline-flexbox;
            width: 75%;
        }

        .hamburger .fourth {
            display: inline;
            background-color: var(--accent-green);
            width: 15%;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .hamburger .fourth.active, .second.active  {
            display: none;
        }

        .hamburger .first.active {
            transform: rotate(45deg) translateY(10px);
        }
        .hamburger .third.active {
            width: 100%;
            transform: rotate(-45deg) translateY(-10px);
        }
        /* end hamburger menu */
}
/* end header section */


/* sticky goTop logo  button*/
.sticky-logo{
    position: fixed;
    height: 90px;
    width: 90px;
    bottom: 20px; right: 20px;
    border-radius: 50px;
    background: var(--dark-basic);
    z-index: 90;
}

.sticky-logo .circle{
    position: absolute;
    height: 80px;
    width: 80px;
    left: 5px;
    top: 5px;
    border-radius: 50px;
    animation: rotate 20s .3s linear infinite;
}

@keyframes rotate {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
} 

.sticky-logo .svg{
    fill: var(--accent-green);
}

.sticky-logo .logo {
    color: var(--clearest-basic);
    font-size: 1.5em;
    font-weight: 500;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gotop-logo.animation{
    animation: sticky-logo-animation 5s linear infinite alternate-reverse;
}

.sticky-logo .arrow i{
    color: var(--clearest-basic);
    height: 100%;
    width: 100%;
    font-size: 1.8em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0%;
}
#gotop-arrow.animation i{
    animation: sticky-logo-animation 5s linear infinite alternate;
}

@keyframes sticky-logo-animation {
    100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    0% {
        opacity: 0%;
    }
} 

.sticky-logo.invert{
    background: var(--clearest-basic);
}
.sticky-logo.invert .svg {
    fill: var(--accent-blue);
}
.sticky-logo.invert .logo {
    color: var(--accent-green);
}
.sticky-logo.invert .arrow i {
    color: var(--accent-green);
}

/* end goTop sticky button */






body {
    min-height: 200vh;
}



/* contact page */
.contact {
    height: 100vh;
    background-color: var(--dark-blue);
    padding: 3% 10% 100px;
    color: var(--light-basic);
    position: relative;
}
.contact .links {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: column;
}

.contact a{
    position: relative;
    color: var(--light-basic);
    text-decoration: none;
    width: auto;
    display: inline-block;
}
.contact h2::before, h3::before{
    content: '';
    position: absolute;
    bottom: 0; left: 0;
    height: 10%;
    border-radius: 10px;
    background-color: var(--clear-blue);
    transform: translate(0%, 10%);
    mix-blend-mode: lighten;
}
.contact h2:hover::before{
    animation: contact-links .4s linear forwards;
}
.contact h3:hover::before{
    animation: contact-links .3s linear forwards;
}

@keyframes contact-links {
    0%{
        width: 0%;
    }
    50%{
        background-color: var(--clear-blue);
        width: 100%;
        height: 10%;
    }
    100%{
        background-color: var(--accent-blue);
        width: 100%;
        height: 90%;
        border-radius: 0;
    }
}

.contact a:focus h2,
.contact a:focus h3{
    color: var(--clear-blue);
}

.contact h2 {
    font-size: 4em;
    margin-top: 5vh;
    width: fit-content;
}

.contact h3 {
    font-size: 1.2rem;
    margin-top: 2vh;
    width: fit-content;
}

.contact .social {
    margin: 10vh 0;
    z-index: 100;
}
.social i {
    margin-bottom: 2vh;
    padding-right: 10px;
    font-size: 1.5rem;
}
.social a:hover i,
.social a:hover{
    color: var(--clear-blue);
}
.social a:focus i,
.social a:focus{
    color: var(--accent-blue);
}

.contact .decoration.square {
    width: 100px;
    height: 60vh;
    background: var(--accent-blue);
    position: absolute;
    right: 0;
    top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.contact .decoration.square .line {
    position: relative;
    display: block;
    width: 130%;
    height: 3px;
    top: 10%;
    background: var(--clear-blue);
    border-radius: 50px;
    transform: rotate(30deg) translateX(-30px);
}


.contact .rigths {
    border-top: 3px solid var(--light-basic);
    background: var(--dark-blue);
    border-radius: 3px;
    text-align: center;
    position: absolute; bottom: 10px;
}

.rigths p {
    width: 80vw;
    min-height: 70px;
    padding: 20px;    
}
@media (max-width:460px){
    .contact .decoration.square {
        display: none;
    }
    .rigths p {
        min-height: 50px;
        padding: 10px;    
        font-size: .7rem;
    }
}


@media (max-width:850px) {
    .contact h2 {
        font-size: 3.5rem;
    }
}

@media (max-height:620px) {
    .rigths p {
        min-height: 50px;
        padding: 10px;    
        font-size: .7rem;
    }
}

/* end contact page*/